{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'projects' %}" class="header__logo">
            <img src="{% static 'images/logo.svg' %} " alt="DevSearch Logo" />
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
                <li class="header__menuItem"><a href="{% url 'create-project' %}">Projects</a></li>



                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>
                <li class="header__menuItem"><a href="{% url 'account' %}">Account</a></li>
                <li class="header__menuItem">
                    <p>
                      <div class="notifier new">
                    <a href="{% url 'notifications' %}">
                        <i class="bell fa fa-bell-o">
                        </i>
                        </a>
                        <div class="badge" id="notifications-count">0</div>
                    <div class="bell-content" id="bell-content">
                    </div>
                      </div>
                </li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
        {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
         console.log(roomName);
        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/notification/'
            + roomName
            + '/'
        );

        notificationSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            console.log(document.getElementById('notifications-count').innerHTML)
            document.getElementById('notifications-count').innerHTML = parseInt(document.getElementById('notifications-count').innerHTML) + 1;
            const currentDate = new Date().toDateString();

            const list = document.getElementById("bell-content");
            latest_notification = `
                <a href="#">
                    <img class="avatar avatar--md" src=${data.message.display_image} alt="image" />
                    ${data.message.content}
                    ${currentDate}
                </a>


            `;
            list.innerHTML = latest_notification + list.innerHTML
        };

       notificationSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
    </div>
</header>